body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/page_bg.png);
}

  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  }

/* Header Styles */
header {
    margin-bottom: 100px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(90deg, #FDE2F3 , #035397); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .title {
    background: linear-gradient(135deg, #ff8c00, #594545); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Whale I Tried', sans-serif;  
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 1rem;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 0 2%;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-list li {
    margin-left: 20px;
  }
  
  .navbar-list li:first-child {
    margin-left: 0;
  }
  
  .navbar-list li a {
    font-family: 'Good Unicorn', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    color: #edc0dd; 
    transition: color 0.3s ease;
    cursor: none;
  }
  
  .navbar-list li a:hover {
    color: #E57C23; 
  }

 /* Chat Container Styles */
  .chat-container {
    position: relative;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
    background-image: url('img/chatbox_bg.jpg');
    background-repeat: repeat;
    margin-bottom: 40px;
  }

  .chat-log {
    max-height: 400px;
    overflow-y: auto;
  }

  .chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .bot-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    animation: alternate-bounce 1s ease-in-out infinite;
  }

  @keyframes alternate-bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
  }

  .bot-message-content,
  .user-message-content {
    display: flex;
    flex-direction: column;
  }

  .bot-message-text,
  .user-message-text {
    color: #173c47;
    background-color: #C9F4AA;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Schoolbell', cursive;
    font-size: 30px;
  }

  .user-input {
    color: #173c47;
    background-color: #C9F4AA;
    width: calc(100% - 70px); 
    padding: 10px;
    font-family: 'Schoolbell', cursive;
    font-size: 20px;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: none;
  }


  .chat-log::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  .chat-log::-webkit-scrollbar-track {
    background-color: #6a974a; /* Background color of the scrollbar track */
  }
  
  .chat-log::-webkit-scrollbar-thumb {
    background-color: #025464; /* Color of the scrollbar thumb */
  }
  
  .chat-log::-webkit-scrollbar-thumb:hover {
    background-color: #05313a; /* Color of the scrollbar thumb on hover */
  }

  .send-button {
    margin-top: 7px;
    width: 70px; 
    height: 50px; 
    font-size: 14px;
    border: none;
    border-radius: 25px; 
    background-color: #025464; 
    color: #fff; 
    cursor: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .send-button:before {
    content: "\27A4"; 
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .send-button span {
    display: block;
    text-align: center;
    margin-top: 26px;
  }  
  
  .send-button:hover {
    background-color: #FF8C00; 
  }
  
  .send-button:active {
    background-color: #FF4500; 
  }
 
 /* custom cursor */

  html{
    cursor: none;
  }

  a {
  cursor: url('https://www.cursor.cc/cursor3d/166699.png'), auto;
}

.cursor-img {
  position: fixed;
  pointer-events: none;
  width: 45px;
  height: 45px;
  background-image: url('https://www.cursor.cc/cursor3d/166699.png');
  background-size: cover;
  transition: transform 0.1s ease-out;
  z-index: 9999;
}

.cursor-trail {
  position: absolute;
  pointer-events: none;
  background-color: #ff3366;
  border-radius: 50%;
  opacity: 0.4;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
