body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/page_bg.png);
}

  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  }

/* Header Styles */
header {
    margin-bottom: 100px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(90deg, #FDE2F3 , #035397); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .title {
    background: linear-gradient(135deg, #ff8c00, #594545); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Whale I Tried', sans-serif;  
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 1rem;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 0 2%;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-list li {
    margin-left: 20px;
  }
  
  .navbar-list li:first-child {
    margin-left: 0;
  }
  
  .navbar-list li a {
    font-family: 'Good Unicorn', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    color: #edc0dd; 
    transition: color 0.3s ease;
    cursor: none;
  }
  
  .navbar-list li a:hover {
    color: #E57C23; 
  }
